.food {
    color: blanchedalmond;
    background-color: darkolivegreen;
    font-weight: bold;
    text-align: center;
    font-size: 50px;
    width: 75%;
    margin: auto
}

.recipe {
    width: auto;
}

.instructions {
    font-size: 35px;
}

.center {
    display: block;
   margin: auto;
   width: 75%;
}

#title {
    font-size: 100px;
    font-weight: bolder;
    text-align: center;
    letter-spacing: 5px;
    color: blanchedalmond;
}

.large {
    font-size: 22px;
    font-weight: bolder;
    color: peru;
}

body {
    background-color: darkslategray;
    color: beige;
    line-height: 1.5;
}